
<h3>ThankYouTemplate</h3>

<MudText Typo="Typo.h1">Thank You!</MudText>
<MudText Typo="Typo.body1">Thank you so much for your purchase. We hope you enjoy Cadflair as much as we do!</MudText>
<MudLink Href="http://www.cadflair.com/">Cadflair Home</MudLink>

