<div class="mud-appbar d-block py-10" style="z-index:0;">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid Class="mb-15">
            <!-- logo -->
            <MudItem sm="12" md="4">
                <MudImage Src="/images/cadflair_logo_dark.svg" Alt="Cadflair Logo" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
            </MudItem>

            <!-- why cadflair? -->
            <MudItem xs="6" md="2">
                <MudStack>
                    <MudText Typo="Typo.button">Why Cadflair?</MudText>
                    <MudLink Style="font-size:0.8rem;" Href="/demo/products">Product Demo</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Customer Testimonies</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">FAQ</MudLink>
                </MudStack>
            </MudItem>

            <!-- product -->
            <MudItem xs="6" md="2">
                <MudStack>
                    <MudText Typo="Typo.button">Product</MudText>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Pricing</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Features</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Technology</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Releases</MudLink>
                </MudStack>
            </MudItem>

            <!-- resources -->
            <MudItem xs="6" md="2">
                <MudStack>
                    <MudText Typo="Typo.button">Resources</MudText>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Documentation</MudLink>
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">Tutorials</MudLink>
                </MudStack>
            </MudItem>

            <!-- company -->
            <MudItem xs="6" md="2">
                <MudStack>
                    <MudText Typo="Typo.button">Company</MudText>
                    @*<MudLink Style="font-size:0.8rem;" Href="/#contact-us-tag">Contact Us</MudLink>*@
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">About Us</MudLink>
                    @*<MudLink Style="font-size:0.8rem;" Href="/comingsoon">Leadership</MudLink>*@
                    <MudLink Style="font-size:0.8rem;" Href="/comingsoon">News</MudLink>
                </MudStack>
            </MudItem>
        </MudGrid>
        <MudStack Row AlignItems="AlignItems.Baseline" Justify="Justify.SpaceBetween">
            <MudText Typo="Typo.body2">&copy; 2023 Cadflair. All rights reserved.</MudText>
            <div>
                <MudIconButton Href="https://twitter.com/" Icon="fab fa-twitter" Color="Color.Primary" Target="_blank" />
                <MudIconButton Href="https://www.youtube.com/" Icon="fab fa-youtube" Color="Color.Primary" Target="_blank"/>
                <MudIconButton Href="https://www.linkedin.com/" Icon="fab fa-linkedin" Color="Color.Primary" Target="_blank" />
            </div>
        </MudStack>
    </MudContainer>
</div>


