<div class="mud-appbar d-block py-10">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid Class="mb-15">
            <!-- why cadflair? -->
            <MudItem xs="12" sm="4">
                <MudImage Src="/images/cadflair_logo.svg" Alt="Cadflair Logo" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
            </MudItem>
            <!-- why cadflair? -->
            <MudItem xs="6" sm="2">
                <MudStack>
                    <MudText Typo="Typo.button">Why Cadflair?</MudText>
                    <MudLink Style="font-size:0.8rem;">Product Demos</MudLink>
                    <MudLink Style="font-size:0.8rem;">Customer Testimonies</MudLink>
                    <MudLink Style="font-size:0.8em;">FAQ</MudLink>
                </MudStack>
            </MudItem>

            <!-- product -->
            <MudItem xs="6" sm="2">
                <MudStack>
                    <MudText Typo="Typo.button">Product</MudText>
                    <MudLink Style="font-size:0.8rem;">Pricing</MudLink>
                    <MudLink Style="font-size:0.8rem;">Features</MudLink>
                    <MudLink Style="font-size:0.8rem;">Technology</MudLink>
                    <MudLink Style="font-size:0.8rem;">Releases</MudLink>
                </MudStack>
            </MudItem>

            <!-- resources -->
            <MudItem xs="6" sm="2">
                <MudStack>
                    <MudText Typo="Typo.button">Resources</MudText>
                    <MudLink Style="font-size:0.8rem;">Documentation</MudLink>
                    <MudLink Style="font-size:0.8rem;">iLogic Samples</MudLink>
                    <MudLink Style="font-size:0.8rem;">View Tutorials</MudLink>
                </MudStack>
            </MudItem>

            <!-- company -->
            <MudItem xs="6" sm="2">
                <MudStack>
                    <MudText Typo="Typo.button">Company</MudText>
                    <MudLink Style="font-size:0.8rem;">Contact Us</MudLink>
                    <MudLink Style="font-size:0.8rem;">About Us</MudLink>
                    <MudLink Style="font-size:0.8rem;">Leadership</MudLink>
                    <MudLink Style="font-size:0.8rem;">News</MudLink>
                </MudStack>
            </MudItem>
        </MudGrid>
        <MudStack Row="true" AlignItems="AlignItems.Baseline" Justify="Justify.SpaceBetween">
            <MudText Typo="Typo.body2">  &copy; 2023 Cadflair. All rights reserved.</MudText>
            <div>
                <MudIconButton Href="https://twitter.com/" Icon="fab fa-twitter" Color="Color.Primary" Target="_blank" />
                <MudIconButton Href="https://www.youtube.com/" Icon="fab fa-youtube" Color="Color.Primary" Target="_blank"/>
                <MudIconButton Href="https://www.linkedin.com/" Icon="fab fa-linkedin" Color="Color.Primary" Target="_blank" />
            </div>
        </MudStack>
    </MudContainer>
</div>


