@if (_modelNotFound)
{
    <MudStack Spacing="1" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="absolute z-10 mud-height-full mud-width-full mud-background-gray">
        <MudIcon Icon="@Icons.Material.Filled.ErrorOutline" Size="Size.Large" />
        <MudText Typo="Typo.button">Error loading model</MudText>
    </MudStack>
}
<div id="forgeViewer" class="mud-height-full mud-width-full mud-background-gray relative"></div>

