<div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems"></p-breadcrumb>
</div>
<div class="grid grid-nogutter">
    <div *ngFor="let category of categories;"
         class="col-12 md:col-6 lg:col-3 h-full p-2"
         (click)="onCategoryClick(category)">
        <div class="h-full w-full shadow-3 border-round p-3 surface-section hover:surface-hover flex flex-row align-items-center gap-3 cursor-pointer">
            <div class="h-full" style="min-width:130px; max-width:130px;">
                <img [src]="category.thumbnailUri" alt="thumbnail" class="max-h-full max-w-full" />
            </div>
            <div class="flex flex-column">
                <h3>{{ category.name }}</h3>
                <p class="line-clamp-4">{{ category.description }}</p>
            </div>
        </div>
    </div>

    <div *ngFor="let product of productDefinitions;"
         class="col-12 md:col-6 lg:col-3 h-full p-2"
         (click)="onProductDefinitionClick(product)">
        <div class="h-full w-full shadow-3 border-round p-3 surface-section hover:surface-hover flex flex-row align-items-center gap-3 cursor-pointer">
            <div class="h-full" style="min-width:130px; max-width:130px;">
                <img [src]="product.thumbnailUri" alt="thumbnail" class="max-h-full max-w-full" />
            </div>
            <div class="flex flex-column">
                <h3>{{ product.name }}</h3>
                <p class="line-clamp-4">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>

