/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900)
}

  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0
  }

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.25rem
}

h4 {
  font-size: 1.125rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: .875rem
}

p {
  line-height: 1.75;
  margin: 0 0 1rem
}

.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media(min-width: 600px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-disable-gutters {
  padding-left: 0;
  padding-right: 0;
}

@media(min-width: 600px) {
  .container-fixed {
    max-width: 600px;
  }
}

@media(min-width: 960px) {
  .container-fixed {
    max-width: 960px;
  }
}

@media(min-width: 1280px) {
  .container-fixed {
    max-width: 1280px;
  }
}

@media(min-width: 1920px) {
  .container-fixed {
    max-width: 1920px;
  }
}

@media(min-width: 2560px) {
  .container-fixed {
    max-width: 2560px;
  }
}

@media(min-width: 0) {
  .container-maxwidth-xs {
    max-width: 444px;
  }
}

@media(min-width: 600px) {
  .container-maxwidth-sm {
    max-width: 600px;
  }
}

@media(min-width: 960px) {
  .container-maxwidth-md {
    max-width: 960px;
  }
}

@media(min-width: 1280px) {
  .container-maxwidth-lg {
    max-width: 1280px;
  }
}

@media(min-width: 1920px) {
  .container-maxwidth-xl {
    max-width: 1920px;
  }
}

@media(min-width: 2560px) {
  .container-maxwidth-xxl {
    max-width: 2560px;
  }
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

