<div id="viewerContainer">
    <div id="forgeViewer"></div>
    <div id="loader">
        <div class="spinner"></div>
        <div id="loaderMessage">Please wait...</div>
    </div>
</div>



@code {

}
