.page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--primary-light);
    display: grid;
    grid-template-rows: 3em auto 3em;
}

main{
    overflow: auto;
}
