.nav-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-dark);
}

.nav-logo {
    height: 100%;
    display: flex;
    padding: .5em;
    margin: 0em 1em;
    cursor: pointer;
}

nav {
    padding: 0em 1em;
    height: 100%;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.nav-links>li{
    /*background: cyan;*/
}

.nav-links a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 0.2em .7em;
}

.nav-links a:hover {
    color: var(--primary-accent);
    background: var(--primary-light);
}
