@using Row = CadflairDataAccess.Models.Row;

@page "/{CompanyName}/categories/"
@page "/{CompanyName}/categories/{CategoryName}/"
@layout MainLayout

<PageTitle>@CompanyName - Categories</PageTitle>

<MudOverlay Visible="_initializing" Class="mud-background" Style="z-index:1200;">
    <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
</MudOverlay>

@*<MudDrawerContainer Style="min-height:100vh" Class="relative">
    <!-- sidebar -->
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Left" Elevation="1" Variant="DrawerVariant.Persistent" Width="300px" Fixed="true">
            <!-- product categories -->
            <MudStack Spacing="0" Class="pa-1">
                <MudText Typo="Typo.body1" Class="pb-1">Choose a category</MudText>
                <MudList Clickable>
                    @foreach (var category in _categories)
                    {
                        <MudListItem OnClick="() => Category_OnClick(category)" Variant="Variant.Outlined">@category.Name</MudListItem>
                    }
                </MudList>
            </MudStack>
        </MudDrawer>
    </MudHidden>
</MudDrawerContainer>*@


<!-- header toolbar -->
<div class="sticky-header mud-background z-60">
    <MudBreadcrumbs Items="_breadcrumbItems">
        <ItemTemplate Context="item">
            <MudLink Href="@item.Href">@item.Text</MudLink>
        </ItemTemplate>
    </MudBreadcrumbs>
    <MudDivider />
</div>

<MudStack Class="flex-grow-1">
    <MudGrid Justify="Justify.FlexStart" Class="ma-0" Spacing="0">
        @if (_category == null)
        {
            @foreach (var category in _categories)
            {
                <CategoryGridItem Category="category" CategoryClicked="Category_OnClick" />
            }
        }
        else
        {
            @foreach (var category in _category.ChildCategories)
            {
                <CategoryGridItem Category="category" CategoryClicked="Category_OnClick" />
            }
            @foreach (var productDefinition in _productDefinitions.Where(i => i.CategoryId == _category.Id))
            {
                <ProductDefinitionGridItem ProductDefinition="productDefinition" ProductDefinitionClicked="ProductDefinition_OnClick" />
            }
        }
    </MudGrid>
</MudStack>

