@using Row = CadflairDataAccess.Models.Row;

@page "/{CompanyName}/categories/"
@page "/{CompanyName}/categories/{CategoryName}/"
@layout ConfiguratorLayout

<PageTitle>@CompanyName - Categories</PageTitle>

<MudDrawerContainer Class="mud-height-full relative">

    <!-- sidebar -->
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Left" Elevation="1" Variant="DrawerVariant.Persistent" Width="300px">
            <!-- product categories -->
            <MudStack Spacing="0" Class="pa-1">
                <MudText Typo="Typo.body1" Class="pb-1">Choose a category</MudText>
                <MudList Clickable>
                    @foreach (var category in _categories)
                    {
                        <MudListItem OnClick="() => Category_OnClick(category)" Variant="Variant.Outlined">@category.Name</MudListItem>
                    }
                </MudList>
            </MudStack>
        </MudDrawer>
    </MudHidden>

    <MudStack Class="mud-height-full px-5 pt-3 overflow-auto relative">
        <MudOverlay Visible="_initializing" Absolute Class="mud-background">
            <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
        </MudOverlay>

        <!-- header toolbar -->
        <div>
            <MudBreadcrumbs Items="_breadcrumbItems">
                <ItemTemplate Context="item">
                    <MudLink Href="@item.Href">@item.Text</MudLink>
                </ItemTemplate>
            </MudBreadcrumbs>
            <MudDivider />
        </div>

        <MudStack Class="flex-grow-1 overflow-auto">
            <MudGrid Justify="Justify.FlexStart" Class="ma-0" Spacing="0">
                @if (_category == null)
                {
                    @foreach (var category in _categories)
                    {
                        <CategoryGridItem Category="category" CategoryClicked="Category_OnClick" />
                    }
                }
                else
                {
                    @foreach (var category in _category.ChildCategories)
                    {
                        <CategoryGridItem Category="category" CategoryClicked="Category_OnClick" />
                    }
                    @foreach (var productDefinition in _productDefinitions.Where(i => i.CategoryId == _category.Id))
                    {
                        <ProductDefinitionGridItem ProductDefinition="productDefinition" ProductDefinitionClicked="ProductDefinition_OnClick" />
                    }
                }
            </MudGrid>
        </MudStack>
    </MudStack>
</MudDrawerContainer>

