<MudDialog>
    <DialogContent>
        <div class="full-screen">
            <div class="absolute pa-3 z-10" style="top:0; left:0;">
                <MudFab StartIcon="@Icons.Material.Filled.Close" Label="Close" OnClick="Close_OnClick" Color="Color.Primary" Size="Size.Small" />
            </div>
            <ForgeViewer @ref="_forgeViewer" />
        </div>
    </DialogContent>
</MudDialog>
