<!-- Hero -->
<div class="surface-section">
    <div class="container container-maxwidth-lg">
        <div class="flex flex-column md:flex-row justify-content-around py-8 px-5">
            <div class="flex flex-column">
                <div>
                    <h1>
                        <span class="titleFade delay1">3D Catalog</span><br />
                        <span class="titleFade delay2">Made</span><br />
                        <span class="titleFade delay3"><strong>Easy</strong></span><br />
                    </h1>
                    <svg class="vectorUnderline delay4" viewBox="0 0 206 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 23C89.445 5.91642 175.379 -4.33371 203 9.33313" stroke-width="6" stroke-linecap="round" />
                    </svg>
                    <div class="titleFade delay5">
                        <p>Revolutionize your CAD library today.</p>
                        <button pButton pRipple icon="pi pi-arrow-right" iconPos="right" label="Try Demo" type="button" (click)="onDemoClick()"></button>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden hidden md:block">
                <img src="assets/product_mockup.png" alt="Image" width="600">
            </div>
        </div>
        <div class="flex justify-content-center py-5">
            <a href="#learn-more" class="no-underline text-900">
                <div class="flex flex-column align-items-center gap-3">
                    <div>Learn More</div>
                    <span class="pi pi-chevron-down"></span>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="content">
    <div class="container container-maxwidth-lg">
        <div class="grid grid-nogutter">
            <div id="learn-more" class="col-12 h-4rem"></div>

            <!-- What is cadflair? -->
            <div class="col-12 md:col-6 p-3">
                <div class="flex flex-column gap-3">
                    <div class="flex flex-row align-items-baseline">
                        <h2 class="text-5xl">What is Cadflair?</h2>
                    </div>
                    <p>
                        Cadflair is an digital product catalog for manufacturing companies. Our mission is to make it simple for companies to share CAD data on the web.
                        Don't have CAD data available? No problem. At Cadflair, we will work with your team to build a digital library for your products, so you can spend more time growing your business.<br />
                        <br />
                        <strong>Customization for Any Industry</strong><br />
                        No two manufacturing processes are alike. That's why we specialize in creating CAD models that are as unique as your business.
                        From automotive components to intricate machinery, our team generates models that align with your industry-specific requirements.<br />
                        <br />
                        <strong>Efficiency Redefined</strong><br />
                        Time is money, and we understand urgency in manufacturing. Our CAD models are not just aesthetically pleasing, they're optimized for efficiency.
                        This means that all models can be viewed in a web-browser, on any device, anytime, anywhere.<br />
                        <br />
                        <strong>Collaborative Creation</strong><br />
                        Your vision, our expertise. We collaborate closely with your team to understand your products and expectations.
                        Our iterative process ensures that each CAD model is a result of collaborative refinement, guaranteeing a final product that aligns with your expectations.
                    </p>
                </div>
            </div>


            <!-- Why Cadflair? -->
            <div class="col-12 md:col-6 p-3">
                <div class="flex flex-column">
                    <div class="flex flex-row align-items-center">
                        <h2 class="text-5xl">Why Cadflair?</h2>
                    </div>
                    <p>
                        In today's connected world, CAD data is not just for manufacturing, it is a vital tool for communicating product details to customers.
                        By providing direct access to your CAD data, you can empower your customers to explore the details of every design,
                        fostering a deeper understanding of your products, and building confidence in your brand.
                    </p>
                    <div class="flex flex-column gap-3 p-3">
                        <div class="flex gap-3 align-items-center">
                            <span class="pi pi-check-circle" style="font-size: 1.5rem"></span>
                            <p class="m-0">View 3D CAD models on any device</p>
                        </div>
                        <div class="flex gap-3 align-items-center">
                            <span class="pi pi-check-circle" style="font-size: 1.5rem"></span>
                            <p class="m-0">Share models with a click</p>
                        </div>
                        <div class="flex gap-3 align-items-center">
                            <span class="pi pi-check-circle" style="font-size: 1.5rem"></span>
                            <p class="m-0">Get notified when customers download your models</p>
                        </div>
                        <div class="flex gap-3 align-items-center">
                            <span class="pi pi-check-circle" style="font-size: 1.5rem"></span>
                            <p class="m-0">Improve lead generation and conversion</p>
                        </div>
                        <div class="flex gap-3 align-items-center">
                            <span class="pi pi-check-circle" style="font-size: 1.5rem"></span>
                            <p class="m-0">Increase buyer confidence</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- How it works? -->
            <div class="col-12 grid p-3">
                <div class="col-12 flex flex-row justify-content-center">
                    <h2>How It Works</h2>
                </div>
                <div class="col-12 md:col-4 border">
                    <div class="h-full shadow-3 border-round p-3 surface-section">
                        <p class="text-8xl font-bold text-center">1</p>
                        <div class="flex flex-row align-items-center">
                            <span class="pi pi-file-edit" style="font-size: 1.5rem"></span>
                            <h4 class="text-2xl ml-3 my-0">Create</h4>
                        </div>
                        <p class="mt-3">
                            Meet with our team to discuss your products, identify design parameters, and aggregate model dimensions.
                            We will create CAD files for your digital catalog, and review them with your team to ensure the details are just right.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="h-full shadow-3 border-round p-3 surface-section">
                        <p class="text-8xl font-bold text-center">2</p>
                        <div class="flex flex-row align-items-center">
                            <span class="pi pi-upload" style="font-size: 1.5rem"></span>
                            <h4 class="text-2xl ml-3 my-0">Publish</h4>
                        </div>
                        <p class="mt-3">
                            We will upload your models to Cadflair, and generate a filterable catalog for your product library, along with a web page for each unique model.
                            Models are stored on the latest cloud infrastructure to ensure availability and reliability.
                        </p>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="h-full shadow-3 border-round p-3 surface-section">
                        <p class="text-8xl font-bold text-center">3</p>
                        <div class="flex flex-row align-items-center">
                            <span class="pi pi-share-alt" style="font-size: 1.5rem"></span>
                            <h4 class="text-2xl ml-3 my-0">Share</h4>
                        </div>
                        <p class="mt-3">
                            Provide your customers with CAD data on demand. Share your catalog on social media, or embed it directly into your company's site.
                            View models on any device, without installing CAD packages or plugins.
                        </p>
                        <div class="flex justify-content-end w-full">
                            <button pButton pRipple icon="pi pi-arrow-right" iconPos="right" label="Try Demo" type="button" (click)="onDemoClick()"></button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Contact us -->
            <div class="col-12 p-3 my-8">
                <p-card id="contact-us">
                    <div class="flex flex-column">
                        <h4><strong>Contact Us</strong></h4>
                        <p>
                            Cadflair is currently in development, but we are looking for early adopters to help us build a rock solid product.
                            Want to be involved? Please reach out if you think Cadflair could help your business!
                        </p>
                        <app-contact-us/>
                    </div>
                </p-card>
            </div>
        </div>
    </div>

</div>
