.vectorUnderline {
  stroke: var(--primary-color);
  width: 150px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 0.4s linear forwards;
}

.titleFade {
  opacity: 0;
  animation: fadein 0.6s forwards;
}

.delay1 {
  animation-delay: 0.4s;
}

.delay2 {
  animation-delay: 0.8s;
}

.delay3 {
  animation-delay: 1.2s;
}

.delay4 {
  animation-delay: 1.8s;
}

.delay5 {
  animation-delay: 2.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.content {
  background: linear-gradient(0deg, #e0e0e0 0%, #f5f5f5 50%);
}


