.vectorUnderline {
  stroke: red;
  /*stroke: var(--mantine-color-anchor);*/
  width: 150px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 0.4s linear forwards;
}

.titleFade {
  opacity: 0;
  animation: fadein 0.6s forwards;
}

.delay1 {
  animation-delay: 0.4s;
}

.delay2 {
  animation-delay: 0.8s;
}

.delay3 {
  animation-delay: 1.2s;
}

.delay4 {
  animation-delay: 1.8s;
}

.delay5 {
  animation-delay: 2.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.content {
  background: linear-gradient(0deg, #e0e0e0 0%, #f5f5f5 50%);
}


.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media(min-width: 600px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-disable-gutters {
  padding-left: 0;
  padding-right: 0;
}

@media(min-width: 600px) {
  .container-fixed {
    max-width: 600px;
  }
}

@media(min-width: 960px) {
  .container-fixed {
    max-width: 960px;
  }
}

@media(min-width: 1280px) {
  .container-fixed {
    max-width: 1280px;
  }
}

@media(min-width: 1920px) {
  .container-fixed {
    max-width: 1920px;
  }
}

@media(min-width: 2560px) {
  .container-fixed {
    max-width: 2560px;
  }
}

@media(min-width: 0) {
  .container-maxwidth-xs {
    max-width: 444px;
  }
}

@media(min-width: 600px) {
  .container-maxwidth-sm {
    max-width: 600px;
  }
}

@media(min-width: 960px) {
  .container-maxwidth-md {
    max-width: 960px;
  }
}

@media(min-width: 1280px) {
  .container-maxwidth-lg {
    max-width: 1280px;
  }
}

@media(min-width: 1920px) {
  .container-maxwidth-xl {
    max-width: 1920px;
  }
}

@media(min-width: 2560px) {
  .container-maxwidth-xxl {
    max-width: 2560px;
  }
}
