@page "/accounts"

@inject IDataAccess _data
@inject IConfiguration _config


<h3>Accounts</h3>

<button @onclick="InsertData">Insert</button>
<button @onclick="LoadData">Refresh</button>


@if (_accounts.Count == 0)
{
    <p>Loading...</p>
}
else
{
    @foreach (AccountModel acc in _accounts)
    {
        <p>
            @acc.AccountId @acc.CompanyName;
        </p>
    }
}


@code {
    private List<AccountModel> _accounts = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        string sql = "select * from account";
        _accounts = await _data.LoadDataAsync<AccountModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }

    private async Task InsertData()
    {

        //string sql = "insert into account (SubscriptionId, CompanyName, CreatedBy, Owner) values (@SubscriptionId, @CompanyName, @CreatedBy, @Owner)";
        string sql = "insert into account (CompanyName, CreatedBy, Owner) values (@CompanyName, @CreatedBy, @Owner)";

        dynamic values = new
        {
            //SubscriptionId = 0,
            CompanyName = "My Company",
            CreatedBy = 1,
            Owner = 1
        };

        await _data.SaveDataAsync(sql, values, _config.GetConnectionString("default"));
    }


}




