
#mainGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebarContainer {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-medium);
    overflow-y: hidden;
}

#viewerContainer {
    background: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#paramContainer{
    overflow-y: hidden;
    /*overflow-y: scroll;*/
    flex-grow: 1;
}

/*    .param-container::-webkit-scrollbar {
        display: none;
    }*/


#buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

button {
    color: var(--primary-accent);
    background: var(--primary-dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 0.4em 0em;
    margin: 0.25em 0.5em;
}

    button:hover {
        color: var(--primary-dark);
        background: var(--primary-accent);
    }

.disabled {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.65;
}

/*#endregion */


/*#region forge viewer  */

#forgeViewer {
    position: relative;
    width: 100%;
    height: 100%;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-medium);
    padding: 0.5em 0.7em;
    border-radius: 4px;
    box-shadow: var(--primary-dark) 4px 4px 7px;
}

#loaderMessage {
    padding-top: .7em;
}

.spinner {
    width: 35px;
    height: 35px;
    border: 5px solid var(--primary-accent);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*#endregion */

