@page "/configure"

<div id="createSection">
    <div id="sidebarContainer">
        <div id="paramContainer">
            <InputParameters />
        </div>
        <div id="buttonContainer">
            <button id="submitWorkitem">Generate Model</button>
            <!--<button id="pdfButton" class="disabled">Download PDF</button>
            <button id="stepButton" class="disabled">Download STEP</button>
            <button id="iamButton" class="disabled">Download IAM</button>-->
        </div>
    </div>
</div>


@code {




}
