
#reviewSection {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    background: var(--primary-medium);
}

#objectSearch{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .4em;
}

#objectSearchBox{
    margin: 0.25em 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 4px;
}

#refreshObjectsButton{
    width: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: var(--primary-dark);
}

#refreshObjectsButton:hover{
    fill: var(--primary-accent);
}

#objectList {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0.5em;
    gap: 8px;
}

    #objectList::-webkit-scrollbar {
        display: none;
    }

.object {
    background: var(--primary-light);
    border-radius: 4px;
    padding: 0.75em;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    color: var(--primary-dark);
}

.object-key{
    font-size: 1.7em;
    font-weight: 700;
}

.object-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-wrap: anywhere;
}

.thumbnail-image{
    width: 6em;
}

.object-key:hover{
    color: var(--primary-accent);
    cursor: pointer;
}

.object-downloads {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.download-object {
    display: flex;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    gap: 0.5em;
}

    .download-object:hover {
        transform: scale(1.05);
    }

.download-icon{
    width: 1.5em;
}

.delete-object-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1em;
}
