@page "/buckettools"

<PageTitle>Cadflair - Product Catalog</PageTitle>

<div style="height: calc(100dvh - var(--mud-appbar-height));">
    <MudStack Row Spacing="0" Class="mud-height-full">

        <!-- buckets -->
        <MudStack Class="pa-3" Style="min-width:275px;">
            <MudDataGrid Items="_buckets"
                         ColumnResizeMode="ResizeMode.Column"
                         Elevation="0" Height="100%" Class="overflow-auto"
                         Dense Hover FixedHeader>
                <Columns>
                    <TemplateColumn Sortable="false" Filterable="false" Resizable="false">
                        <CellTemplate>
                            <MudIcon Icon="@Icons.Material.Filled.Folder"/>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn Title="Bucket Key">
                        <CellTemplate>
                            <MudText>@context.Item</MudText>
                        </CellTemplate>
                    </TemplateColumn>
                    <TemplateColumn>
                        <CellTemplate>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteBucket_OnClick(context.Item)"/>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>

        </MudStack>

        <!-- objects -->
        <MudStack Class="flex-grow-1 mud-height-full">

        </MudStack>
    </MudStack>



</div>


