.vector-underline {
    stroke: var(--mud-palette-primary);
    width: 265px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 0.4s linear forwards;
}

.fade-opacity-in{
    opacity: 0;
    animation: fadein 0.6s forwards;
}

.delay-1 {
    animation-delay: 0.4s;
}

.delay-2 {
    animation-delay: 0.8s;
}

.delay-3{
    animation-delay: 1.2s;
}

.delay-4{
    animation-delay: 1.8s;
}

.delay-5{
    animation-delay: 2.4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}



