@page "/"
@inject IJSRuntime _js

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity?.Name</p>
        <p>Auth Type: @context.User.Identity?.AuthenticationType</p>
        @foreach(var claim in context.User.Claims)
        {
            <p>Claim Type: @claim.Type</p>
            <p>Claim Value: @claim.Value</p>
        }
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized. INDEX Message</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    //[CascadingParameter]
    //private Task<AuthenticationState> _authenticationState { get; set; }

    //private async Task DisplayGreetingAlert() 
    //{
    //    var authState = await _authenticationState;
    //    var message = $"Hello {authState.User.Identity.Name}";
    //    await _js.InvokeVoidAsync("alert", message);
    //}
}
