@page "/subscription/new"
@attribute [Authorize]

<div class="d-flex justify-center">
    <MudPaper Class="rounded-lg pa-5 ma-5" Elevation="3">
        <MudForm @bind-IsValid="_validInputs">
            <MudStack>
                <MudTextField @bind-Value="_companyName" Label="Company Name" Required="true" RequiredError="Company Name is required!" />

                <MudSelect T="SubscriptionType"
                           ToStringFunc="@(subscriptionType => subscriptionType?.Name)"
                           @bind-Value="_subscriptionType"
                           Label="Subscription Type"
                           Placeholder="Select subscription type">
                    @foreach (SubscriptionType type in _subscriptionTypes)
                    {
                        <MudSelectItem Value="type">@type.Name</MudSelectItem>
                    }
                </MudSelect>

                <MudButton OnClick="Submit_OnClick" Variant="Variant.Filled" Color="Color.Primary">Submit</MudButton>
            </MudStack>
        </MudForm>
    </MudPaper>
</div>


