@page "/{CompanyName}/products/{ProductName}"

<PageTitle>Cadflair - Configure</PageTitle>

<div class="d-flex flex-row mud-background-gray relative" style="height: calc(100vh - var(--mud-appbar-height));">
    @if (_initializing)
    {
        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="absolute z-10 mud-width-full mud-height-full mud-background-gray">
            <MudProgressCircular Color="Color.Default" Size="Size.Large" Indeterminate />
        </MudStack>
    }

    @if (_productVersion?.IsConfigurable == true)
    {
        <MudStack Class="flex-grow-1 overflow-auto" Spacing="0" Style="width:25%; min-width:400px;">
            <MudText Typo="Typo.h5" Class="pa-4"><b>@_product?.DisplayName</b></MudText>

            <!--Product Inputs-->
            @if (_iLogicFormData != null)
            {
                <MudForm @bind-IsValid="_validInputs" Class="flex-grow-1 overflow-auto">
                    <MudStack Class="mud-height-full px-3 pb-3 overflow-auto">
                        @foreach (ILogicFormElement element in _iLogicFormData.Items)
                        {
                            <ProductInput Element="@element" Disabled="@(_configurationInProgress || !_showSubmitButton)" @key="element"></ProductInput>
                        }
                    </MudStack>
                </MudForm>
            }

            <!--Action Buttons-->
            <MudStack Class="pa-3">
                @if (_showSubmitButton)
                {
                    <MudButton OnClick="Submit_OnClick" Disabled="@(!_validInputs || _configurationInProgress)" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Generate Model</MudButton>
                }
                else
                {
                    <MudButton OnClick="StartOver_OnClick" Variant="Variant.Filled" FullWidth="true">Start Over</MudButton>
                }
            </MudStack>
        </MudStack>
    }

    <!--Forge Viewer-->
    <div class="relative mud-height-full mud-width-full">
        @if (_configurationInProgress)
        {
            <div class="relative mud-height-full mud-width-full">
                <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Class="mud-height-full mud-width-full absolute">
                    <MudProgressCircular Size="Size.Large" Indeterminate />
                </MudStack>
            </div>
        }
        else
        {
            @if (_showRequestButton)
            {
                <MudPaper Class="absolute z-10 pa-3 ma-3" MaxWidth="300px;">
                    <MudText Typo="Typo.h6">Like what you see?</MudText>
                    <MudText Typo="Typo.body2" Class="mb-3">This is our bread and butter. Request a quote today!</MudText>
                    <MudStack Row="true">
                        <MudButton OnClick="RequestQuote_OnClick" Disabled="_productConfiguration == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth>Request A Quote</MudButton>
                        <MudTooltip Text="Download STEP file.">
                            @*<MudButton OnClick="DownloadZip_OnClick" Disabled="_productConfiguration?.ForgeZipKey == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Download Zip</MudButton>*@
                            @*<MudButton OnClick="DownloadStp_OnClick" Disabled="_productConfiguration?.ForgeStpKey == null" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Download Step</MudButton>*@
                            <MudIconButton OnClick="DownloadStp_OnClick" Disabled="_productConfiguration?.ForgeStpKey == null" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.FileDownload" />
                        </MudTooltip>
                    </MudStack>
                </MudPaper>
            }
            <ForgeViewer @ref="_forgeViewer" />
        }
    </div>
</div>


