/*#region page sizing, variables, etc. */

:root {
    --pure-white: #ffffff;
    --primary-dark: #292929;
    --primary-medium: #808080;
    --primary-medlight: #a0a0a0;
    --primary-light: #b9b9b9;
    --primary-accent: #50C0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Poppins', sans-serif;
}

#mainGrid{
    display: grid;
    grid-template-columns: auto 1fr;
    overflow-y: hidden;
}

/*#endregion */



/*#region nav */

nav {
    width: 100%;
    margin: auto;
    padding: 0em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-dark);
}

.nav-logo {
    height: 2.5em;
    margin: .7em 0em;
    cursor: pointer;
    display: flex;
}

#navButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-button{
    cursor: pointer;
    font-size: 1.25em;
    color: var(--pure-white);
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
}

.nav-button:hover {
    color: var(--primary-accent);
    background: var(--primary-medium);
}


/*#endregion */

/*#region create-section */

#sidebarContainer {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-medium);
    overflow-y: hidden;
}

#viewerContainer {
    background: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*#endregion */

/*#region param groups*/

#paramContainer{
    overflow-y: hidden;
    /*overflow-y: scroll;*/
    flex-grow: 1;
}


/*    .param-container::-webkit-scrollbar {
        display: none;
    }*/

.param-group {
    border-bottom: 1px solid var(--primary-dark);
}

    .param-group.expanded {
        /*border-bottom: none;*/
    }

.param-group-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    cursor: pointer;
}

    .param-group-header:hover {
        background-color: var(--primary-medlight);
    }

    .param-group-header > h1 {
        font-size: 1.2rem;
        font-weight: 900;
        text-align: left;
    }

.chevron {
    width: 0px;
    height: 0px;
    border-top: 13px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: 0.3s ease;
}

.chevron.expanded {
    transform: rotate(180deg);
    transition: 200ms ease;
}

.param-group-panel {
    background-color: var(--primary-medlight);
    visibility: hidden;
    /*opacity: 0;*/
    max-height: 0;
    padding: 0;
    transition: 200ms linear;
}

.param-group-panel.expanded {
    visibility: initial;
    /*opacity: 1;*/
    padding: 0.25em 0px;
    max-height: 1000px;
}

/*#endregion */

/*#region input types */

.input-group {
    display: grid;
    padding: .35em 2em;
    text-align: left;
}

    .input-group > label {
        white-space: pre;
        font-size: 1rem;
    }

.units-label {
    padding: 0px 0.5ch;
    text-align: left;
    font-size: 1rem;
}

.combobox-group{
    grid-template-columns: 50% 40% 1fr;
}

.combobox {
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    background: var(--pure-white);
}

.textbox-group{
    grid-template-columns: 50% 40% 1fr;
}

.textbox {
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    background: var(--pure-white);
}


.radio-group{
    grid-template-columns: 35%  1fr;
}

.radio-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        flex-grow: 1;
        cursor: pointer;
        margin: 0px 0.25em;
        padding: 0.4em 0px;
        text-align: center;
        border-radius: 4px;
        color: var(--primary-light);
        background: var(--primary-dark);
        box-shadow: var(--primary-dark) 4px 4px 7px;
    }

input[type=radio]:checked + label {
    color: var(--primary-dark);
    background-color: var(--primary-accent);
}

/*#endregion */

/* #region buttons */

#buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

button {
    color: var(--primary-accent);
    background: var(--primary-dark);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 0.4em 0em;
    margin: 0.25em 0.5em;
}

    button:hover {
        color: var(--primary-dark);
        background: var(--primary-accent);
    }

.disabled {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.65;
}

/*#endregion */


/*#region forge viewer  */

#forgeViewer {
    position: relative;
    width: 100%;
    height: 100%;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-medium);
    padding: 0.5em 0.7em;
    border-radius: 4px;
    box-shadow: var(--primary-dark) 4px 4px 7px;
}

#loaderMessage {
    padding-top: .7em;
}

.spinner {
    width: 35px;
    height: 35px;
    border: 5px solid var(--primary-accent);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*#endregion */

.footer{
    background: var(--primary-dark);
}


/*#region review section */

#reviewSection {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    overflow-y: hidden;
    background: var(--primary-medium);
}

#objectSearch{
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .4em;
}

#objectSearchBox{
    margin: 0.25em 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 4px;
}

#refreshObjectsButton{
    width: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
    fill: var(--primary-dark);
}

#refreshObjectsButton:hover{
    fill: var(--primary-accent);
}

#objectList {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

    #objectList::-webkit-scrollbar {
        display: none;
    }

.object {
    background: var(--primary-light);
    border-radius: 4px;
    margin: 0.25em 0.5em;
    padding: 0.75em;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    color: var(--primary-dark);
}

.object-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0.5em 0em;
}

.thumbnail-image{
    width: 6em;
}

.object-key:hover{
    color: var(--primary-accent);
    cursor: pointer;
}

.object-downloads {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.download-object {
    display: flex;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    gap: 0.5em;
}

    .download-object:hover {
        transform: scale(1.05);
    }

.download-icon{
    width: 1.5em;
}

.delete-object-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1em;
}

/*#endregion */



/*#region settings section */

#settingsSection {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    overflow-y: hidden;
    background: var(--primary-medium);
    color: var(--pure-white);
}

/*#endregion */

/*#region contact section */

#contactSection {
    display: flex;
    height: 100%;
    width: auto;
    flex-direction: column;
    overflow-y: hidden;
    background: var(--primary-medium);
    color: var(--pure-white);
}

/*#endregion */

/*#region footer */
footer{
    background: var(--primary-dark);
    color: var(--pure-white);
}

#disclaimer{
    padding: .5em 1em;
}


/*#endregion */