/*#region page defaults/colors */

:root {
    --pure-white: #ffffff;
    --primary-dark: #292929;
    --primary-medium: #808080;
    --primary-light: #b9b9b9;
    --primary-accent: #50C0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary-light);
}

/*#endregion */

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 70%;
    margin: auto;
}

.container-header {
    text-align: center;
    padding: 0.5em 0em;
}

h1, h3 {
    color: var(--primary-dark);
}

/*  #region hero */

.hero {
    background: var(--pure-white);
}

.tagline-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-image {
    flex: 1;
    opacity: 0;
    animation: fadein 1.8s forwards;
    animation-delay: 2.5s;
}

    .hero-image img {
        width: 100%;
    }


.show-anim {
    position: relative;
    width: fit-content;
}

    .show-anim h1 {
        font-size: 4em;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        line-height: 1.5em;
        opacity: 0;
        animation: animateText 0.6s forwards;
    }

/* reveal affect*/
/*    .show-anim::before {
        content: "";
        position: absolute;
        background: var(--primary-dark);
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        animation: revealText 0.6s ease;
    }

    .show-anim.two::before {
        animation-delay: 0.4s;
    }

    .show-anim.three::before {
        animation-delay: .8s;
    }

    .show-anim.four::before {
        animation-delay: 1.2s;
    }
*/

.tagline.two {
    animation-delay: 0.4s;
}

.tagline.three {
    animation-delay: .8s;
}

.tagline.four {
    animation-delay: 1.2s;
}

.sub-tagline {
    font-size: 1.25em;
    font-weight: lighter;
    margin-top: 1.25em;
    opacity: 0;
    animation: fadein 1.8s forwards;
    animation-delay: 2.5s;
}

.vector-underline {
    stroke: var(--primary-accent);
    width: 265px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 0.4s linear forwards;
    animation-delay: 1.8s;
}

#learn-more {
    opacity: 0;
    animation: fadein 1s forwards;
    animation-delay: 3.5s;
}

.scroll-to-next {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: var(--primary-dark);
    cursor: pointer;
    transition: ease 0.2s;
}

    .scroll-to-next a {
        text-decoration: none;
    }

    .scroll-to-next p {
        font-weight: 900;
        color: var(--primary-dark);
    }

    .scroll-to-next:hover {
        font-size: 1.5em;
        font-weight: bolder;
        transition: ease 0.2s;
    }

@keyframes animateText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

/*#endregion */

/*#region what we do */

.what > .container {
    display: flex;
    flex-direction: row;
}

    .what > .container > .block {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        color: var(--primary-medium);
    }

 .cadflair-logo-image{
     height: 8em;
     margin: auto;

 }

.what-card {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

    .what-card h3 {
        padding-bottom: 0.15em;
    }

    .what-card .icon {
        display: block;
        width: 120px;
        height: 120px;
        flex-shrink: 0;
        padding: 1em;
    }


/*#endregion */

/*#region customer cases */


.cases hr {
    border-color: var(--primary-dark);
}

.cases-grid {
    display: grid;
    margin: 2em auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    text-align: center;
}

.cases-card {
    width: 90%;
    height: 95%;
    background: var(--primary-medium);
    margin: 10px auto;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    /*border: 7px solid var(--primary-dark);*/
    box-shadow: var(--primary-dark) 4px 4px 7px;
    border-radius: 30px;
    transition: ease 0.2s;
    text-align: center;
}

    .cases-card:hover {
        /*margin-top: -10px;*/
        transform: scale(1.05);
        transition: ease 0.2s;
    }

    .cases-card h3 {
        text-transform: uppercase;
        margin: 0.75em 0px;
        font-weight: bold;
        font-size: 1.75em;
    }

.cases-cardimage {
    width: 100%;
    margin: 1em 0px;
}

.cases-card p {
    padding: 1em 0px;
    text-align: left;
    /*color: var(--primary-light);*/
}

.cases-card a {
    display: inline-block;
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: 0.75em 1em;
    margin: 1em auto;
    border-radius: 50px;
    background: var(--primary-accent);
    color: var(--primary-dark);
    font-weight: bold;
    cursor: pointer;
    border: none;
}

    .cases-card a:hover {
        background: var(--primary-dark);
        color: var(--primary-accent);
    }


/*#endregion */

/*#region contact form */

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 60%;
}

    .form h1 {
        padding-bottom: 0.8em;
    }

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7px;
}

    .form-group label {
        width: 15%;
    }

input[type="text"], textarea {
    width: 85%;
    background: rgb(232, 240, 254);
    padding: 0.5em;
    border-radius: 0.3em;
    border: none;
    font-family: 'Poppins', sans-serif;
}

#message {
    height: 15em;
    resize: none;
}

/*.form > button {
    background: var(--primary-medium);
    width: fit-content;
    margin: 1em auto;
    padding: 0.25em .7em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 100px;
    border: none;
}

    .form button:hover {
        background: var(--primary-dark);
        color: white;
    }
*/


.form button {
    font-size: 1.15em;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 1em auto;
    border-radius: 50px;
    border: none;
    background: var(--primary-dark);
    color: var(--primary-accent);
}

    .form button:hover {
        background: var(--primary-accent);
        color: var(--primary-dark);
    }



/*#endregion */

