nav {
    position: fixed;
    width: 100%;
    margin: auto;
    background-color: var(--primary-dark);
    z-index: 1;
}

.nav-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    height: 2.5em;
    margin: .7em 0em;
    cursor: pointer;
    display: flex;
}

/*.nav-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--primary-accent);
    font-weight: 800;
    padding: 0.5em 0px;
}*/

/*
.nav-logo-image{
    height: 2em;
    margin: 0em 0.5em;
}*/

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    padding: 0.2em .7em;
}

.nav-links a:hover {
    color: var(--primary-accent);
}

#nav-contact {
    color: var(--primary-accent);
    font-weight: bolder;
/*    background: var(--primary-medium);
    border-radius: 100px;
    padding: 0.4rem 0.8rem;
*/

}

#nav-contact:hover {
    color: white;
    /*background: var(--primary-light);*/
}