#viewerContainer {
    width: 50vh;
    height: 50vh;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#forgeViewer {
    position: relative;
    width: 100%;
    height: 100%;
}
