#viewerContainer {
    flex-grow: 1;
    padding: 2em;
    background: green;
    height: calc(100vh - var(--mud-appbar-height));
 

}


#forgeViewer {
    background: gray;
    width: 100%;
    height: 100%;
}
