#viewerContainer {
/*    flex-grow: 1;
    padding: 2em;
    background: green;
*/ 

}


#forgeViewer {
    flex-grow: 1;
    background: gray;
/*    position: relative;
    width: 100%;
    height: 100%;
*/
}
